

/* Import local Plus Jakarta Sans font */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/src/assets/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
 }
*
{
  font-family: 'Plus Jakarta Sans';
  font-weight: bold
}
p
{
  font-family: 'Plus Jakarta Sans';
  font-weight: lighter
}


@import "tailwindcss";