

/* Import local Plus Jakarta Sans font */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/src/assets/helvetica-neue-lt-pro-2-cufonfonts/HelveticaNeueLTProCn.otf') format('truetype');
  font-style: normal;
 }
@font-face {
  font-family: 'Rosemartin';
  src: url('/src/assets/Rosemartin.otf') format('truetype');
  font-style: normal;
 }
 @font-face {
  font-family: 'main';
  src: url('/src/assets/helvetica-neue-lt-pro-2-cufonfonts/HelveticaNeueLTProCn.otf') format('truetype');
  font-style: normal;
 }
 body{
   zoom: 80%;
 }
 *
 {  font-family: 'Plus Jakarta Sans';


 }
.title
{
  font-family: 'Rosemartin';
  font-weight: bold
}
.main
{
  font-family: 'main';
}
p
{
  font-family: 'Plus Jakarta Sans';
  font-weight: lighter
}
/* Other global styles... */

/*
  Add this block of CSS to hide the scrollbar.
  -webkit-scrollbar is for Chrome, Safari, and Opera.
  -ms-overflow-style is for Internet Explorer and Edge.
  scrollbar-width is for Firefox.
*/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Other global styles... */

@import "tailwindcss";