/* Import local Plus Jakarta Sans font */
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/src/assets/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

/* Base styles */
* {
  font-family: 'Plus Jakarta Sans';
  font-weight: bold;
}

p {
  font-family: 'Plus Jakarta Sans';
  font-weight: lighter;
}

/* Set global zoom to 80% */
body {
  zoom: 0.8; /* For older browsers like IE */
  -moz-transform: scale(0.8); /* For Firefox */
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.8); /* For Opera */
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.8); /* For Chrome, Safari */
  -webkit-transform-origin: 0 0;
  transform: scale(0.8); /* Standard property */
  transform-origin: 0 0;
}

/*
  Add this block of CSS to hide the scrollbar.
  -webkit-scrollbar is for Chrome, Safari, and Opera.
  -ms-overflow-style is for Internet Explorer and Edge.
  scrollbar-width is for Firefox.
*/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Other global styles... */

@import "tailwindcss";